<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (15,25)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - AUG 17, 2024</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae et harum porro, praesentium vitae sapiente recusandae placeat officia nesciunt minima eaque reiciendis excepturi fuga, architecto fugit soluta veniam animi.
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ml-3"> View Reply</a>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - AUG 17, 2024</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae et harum porro, praesentium vitae sapiente recusandae placeat officia nesciunt minima eaque reiciendis excepturi fuga, architecto fugit soluta veniam animi.
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ml-3"> View Reply</a>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - AUG 17, 2024</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae et harum porro, praesentium vitae sapiente recusandae placeat officia nesciunt minima eaque reiciendis excepturi fuga, architecto fugit soluta veniam animi.
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ml-3"> View Reply</a>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - AUG 17, 2024</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae et harum porro, praesentium vitae sapiente recusandae placeat officia nesciunt minima eaque reiciendis excepturi fuga, architecto fugit soluta veniam animi.
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ml-3"> View Reply</a>
        </div>
    </div>
</div>
